{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}

    <h1>Détail de mon Todo</h1>

    Identifiant : {{ idTodo }}<br/>
    Nom du Todo : test<br/>
    Fait, oupa ?<br/>
    A faire avant le 12 Février<br/>

{% endblock %}