{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}

    <h1>Détail de mon Todo</h1>

    Identifiant : {{ todoItem.id }} <br/>
    Nom du Todo : {{ todoItem.title }}<br/>
    {% if todoItem.done == 1 %}
        Fait !
    {% else %}
        A faire !
    {% endif %}<br/>
    {#A faire avant le 12 Février<br/>#}

{% endblock %}