{% extends 'base.html.twig' %}

{% block title %}
    Affichage de ma Todo-list
{% endblock %}

{% block content %}
    <ul>
        {% for todoItem in todoList %}
            <li>

                {{ todoItem.title |capitalize }}.
                <strong>
                    {% if todoItem.done == 1 %}
                        Fait !
                    {% else %}
                        A faire !
                    {% endif %}
                </strong>
            </li>
        {% endfor %}
    </ul>
    {#Vous avez {{ todoList|length }} tâches à faire.#}
    Vous avez {{ countResult }} tâches à faire.
{% endblock %}