{% extends 'base.html.twig' %}

{% block title %}
    Affichage de ma Todo-list
{% endblock %}

{% block content %}
    <ul>
        {% for item in todoList %}
            <li>{{ item|capitalize }}</li>
        {% endfor %}
    </ul>
{% endblock %}