<!DOCTYPE html>
<html>
<head>
    <title>
    {% block title %}
        Mon application Todo-list
    {% endblock %}
    </title>
</head>
<body>

    <div style="width:100%; text-align:center;">
        <img src="https://wink-dev.com/images/todolist.png" alt="logo" />
    </div>

    {% block content %}{% endblock %}

</body>
</html>